* {
  background-color: black;
  text-align: center;
  font-family: verdana;
}
h1 .mainheader {

  font-weight: normal;
  font-size: 50px;
  color: white;
}

h1 .second,
h1 .third {

  font-weight: 300;
  font-size: 42px;
  color: white;
}

.cta {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}

.footer {
  text-align: right;
  font-family: verdana;
  font-size: 21px;
  color: gray;
}
